<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}Definire la complessità{% endblock %}</title>
    <link href="{{ STATIC_URL }}tesi.css" rel="stylesheet" type="text/css" />
    {% block head %}{% endblock %}
</head>

{% block body %}<body>{% endblock %}
<div id="header">
<p><a href="{% url tesi.views.index %}">Definire la complessità</a></p>

        <ul id="nav">
        <li><a href="{% url tesi.views.site_index %}">Siti</a></li>
        <li><a href="{% url tesi.views.map_page %}">Mappa dei siti</a></li>
        <li><a href="{% url tesi.views.sherdcount_list %}">Conteggi</a></li>
        <li><a href="{% url tesi.views.type_index %}">Forme</a></li>
        <li><a href="{% url tesi.views.fentress_graph_page %}">Grafico</a></li>
        </ul>
    <div class="clear"></div>
</div>

<div id="main">
    <div id="sidebar">
    {% block sidebar %}{% endblock %}
    </div>

    {% block content %}{% endblock %}
    {% block map %}{% endblock %}
</div>

<div id="footer">
{% block footer %}
<p>Ultimo aggiornamento {% now "d-m-Y" %}.</p>
<p>Questo sito e tutti i suoi contenuti sono pubblicati sotto una 
<span style="color: black;"><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/it/">Licenza Creative Commons</a> Attribuisci - Condividi allo stesso modo</span>.
{% endblock %}
</div>
</body>
</html>
