<!-- fetched from Zotero - see http://www.zotero.org/support/dev/server_api/read_api -->
{% for item in biblio %}<p style="line-height: 1.35; margin-bottom: 1em; text-indent: -2em; padding-left: 2em">{{ item.biblio|removetags:"div"|safe }} ‒ <em>(see this citation on <a href="{{ item.url }}">Zotero</a>)</em></p>{% endfor %}
