{% extends "site_base.html" %}

{% block title %}{{ context.name }}, {{ context.site }} - {{ block.super }}{% endblock %}
{% block head %}
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}jqplot/jquery.min.js"></script>
{% endblock head %}

{% block breadcrumb %}
{% spaceless %}
{{ block.super }} » <a href="{% url tesi.views.site_detail_slug context.site.slug %}">
{{ context.site }}</a> » {{ context.name }}
{% endspaceless %}
{% endblock %}


{% block index %}
<h3>Informazioni generali</h3>
<dl>
<dt>Tipo di indagine</dt>
    <dd>{{ context.get_excavation_display|default:"non specificato" }}</dd>
<dt>Tipo di insediamento</dt>
    <dd>{{ context.get_settlement_display|default:"non specificato" }}</dd>
</dl>
{% if context.fastionline %}
<p class="fastionline">Questo scavo è presente su FastiOnline (<a href="http://www.fastionline.org/micro_view.php?&fst_cd={{ context.fastionline }}">{{ context.fastionline }}</a>)</p>
{% endif %}

{% if context.description %}
<p>{{ context.description }}</p>
{% endif %}

{% if context.assemblage_set.all %}
<h3>Totale frammenti ARS</h3>
<p>{{ context.total }} esemplar{{ context.total|pluralize:"e,i" }}</p>
{% endif %}

{% if context.assemblage_set.all %}
<h3>Contesti</h3>
<table>
<tr>
    <th>Contesto</th>
    <th>Datazione</th>
    <th>Esemplari ARS</th>
    <th>Totale contesto<sup><a href="{% url tesi.views.notes_index %}#frammenti-totali">?</a></sup></th>
</tr>
{% for a in context.assemblage_set.all %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ a.name }}</td>
        <td>{{ a.start_date|default:"…" }} &ndash; {{ a.end_date|default:"…" }}</td>
        <td class="number-cell">{{ a.total_count }}</td>
        <td class="number-cell">{{ a.count|default:"assente" }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% if sherdcounts %}
<h3>Forme</h3>

<table>
  <tr>
    <th>Forme</th>
    {% for t in titles %}
    {% if t.total_count %}
    <th>{{ t.name }}</th>
    {% endif %}
    {% endfor %}
  </tr>
  {% for row in final %}
  <tr class="{% cycle 'row1' 'row2' %}">
      {% for cell in row %}<td>{% ifequal cell 0 %}&nbsp;{% else %}{{ cell }}{% endifequal %}</td>{% endfor %}
  </tr>
  {% endfor %}
</table>
{% endif %}

<h3 id="biblio">Riferimenti bibliografici</h3>

<div id="cites" class="bibtex">
{% if context.biblio %}
<span id="wait">Sto caricando i dati da Zotero ...</span>
<script type="text/javascript">
$('#wait').ajaxStart(function() {
    $(this).show();
}).ajaxComplete(function() {
    $(this).hide();
});
$(document).ready(function(){
    $('#cites').load('{% url tesi.views.context_bib context.id %}');
});
</script>
{% else %}
Oh no! Non c'è nessun riferimento bibliografico!
{% endif %}</div>
{% endblock index %}
