{% extends "site_index.html" %}

{% block title %}{{ block.super }} - Insediamenti{% endblock %}

{% block breadcrumb %}{{ block.super }} » Insediamenti{% endblock %}

{% block index %}

<p>Questa tabella è basata sui siti, aggregando tutti gli scavi disponibili
per ogni sito in modo da evitare una sovrarappresentazione delle classi
insediative dei siti con più scavi.</p>

<table>
<tr>
    <th>Tipo insediamento</th><th>Numero di siti</th>
</tr>
{% for c in settlement_classes|dictsortreversed:"number" %}
<tr class="{% cycle 'row1' 'row2' %}">
    <td>{{ c.class }}</td>
    <td class="number-cell">{{ c.number }}</td>
</tr>
{% endfor %}
<tr>
    <td><strong>Totale</strong></td>
    <td class="number-cell"><strong>{{ total }}</strong></td>
</tr>
</table>

{% endblock index %}
