{% extends "base.html" %}

{% block title %}Grafico complessivo - {{ block.super }}{% endblock %}

{% block content %}
<h2>Grafico complessivo</h2>

<ul>
<li>Totale esemplari: <strong>{{ total_sherds }}</strong></li>
<li>Totale siti: <strong>{{ total_sites }}</strong></li>
<li>Totale scavi: <strong>{{ total_contexts }}</strong></li>
</ul>

<p>Elaborato a partire dai dati inclusi nel database.</p>

<h3>Media ponderata globale del numero di frammenti</h3>
<p>Questo grafico è pesantemente influenzato dai <a href="{% url tesi.views.site_score %}">contesti di scavo con un
grande numero di esemplari</a>.</p>

<p><img src="{% url tesi.views.fentress_graph_image %}" /></p>

<h3>Media ponderata globale del numero di siti</h3>
<p>Il grafico raffigura l'andamento cronologico del numero totale di siti in
cui è attestata ogni singola forma.</p>
<p><img src="{% url tesi.views.fentress_graph_image_sites %}" /></p>

<h3>Grafico globale</h3>
<p>Tratto da <span style="font-variant: small-caps;">Fentress</span>
<span style="font-style: italic;">et al.</span> 2004</p>
<p><img src="{{ STATIC_URL }}fentress02.png" /></p>

{% endblock content %}
