{% extends "base.html" %}

{% block content %}

<p>La <q>circolazione</q> della ceramica sigillata africana in Italia tra V e VII secolo</p>

<ul>
<li><a href="{% url tesi.views.site_index %}">Siti</a></li>
<li><a href="{% url tesi.views.map_page %}">Mappa dei siti</a></li>
<li><a href="{% url tesi.views.sherdcount_list %}">Conteggi</a></li>
<li><a href="{% url tesi.views.type_index %}">Forme</a></li>
<li><a href="{% url tesi.views.ware_index %}">Produzioni</a></li>
<li><a href="{% url tesi.views.fentress_graph_page %}">Grafico</a></li>
</ul>

<p><img src="{{ STATIC_URL }}olio.png" /></p>

{% endblock content %}
