{% extends "site_base.html" %}

{% block title %}Mappa dei siti - {{ block.super }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.ie.css" /><![endif]-->
    <script src="{% url tesi.views.prop_geojson2 %}" type="text/javascript"></script>
{% endblock %}

    {% block content %}
    <p>Ci sono {{location_count}} siti registrati. Scarica il <a href="{% url tesi.views.all_kml %}">file KML</a>.</p>
    {% endblock %}

    {% block map %}
    <div id="map" style="height: 400px"></div> <!-- width equals available horizontal space by default -->
    <script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
    <script type="text/javascript">
    // initialize the map on the "map" div with a given center and zoom 
    var map = new L.Map('map', {
        center: new L.LatLng(44.5, 11), 
        zoom: 6
    });

    // create a Natural Earth WMS layer
    var ne2 = new L.TileLayer.WMS("http://www.catais.org/geoserver/wms?", {
        layers: 'ne2:ne2',
        format: 'image/png',
        transparent: true,
        attribution: "CatAIS Web Map Service"
    });
    
    // add the Natural Earth WMS layer to the map
    map.addLayer(ne2);


		var geojsonLayer = new L.GeoJSON(null, {
		    pointToLayer: function (latlng){
		        return new L.CircleMarker(latlng, {
		            radius: 5,
		            fillColor: "#ff7800",
		            color: "#c40",
		            weight: 1,
		            opacity: 1,
		            fillOpacity: 0.5
		        });
		    }
		});

		geojsonLayer.on("featureparse", function (e) {
		    var popupContent = "";
		    if (e.properties && e.properties.popupContent) {
		        popupContent = e.properties.popupContent;
		    }
		    e.layer.bindPopup(popupContent);
		    if (e.properties && e.properties.style && e.layer.setStyle) {
		        e.layer.setStyle(e.properties.style);
		    }
		});

		map.addLayer(geojsonLayer);
		geojsonLayer.addGeoJSON(geojsonSites);

    </script>
    {% endblock %}
