{% extends "site_base.html" %}

{% block title %}Mappa dei siti - {{ block.super }}{% endblock %}

{% block head %}
<script src="/site_media/OpenLayers-2.7/OpenLayers.js"></script>
<script src="/site_media/GeoStat/Geometry.js"></script>
<script type="text/javascript">
var map, wms, vectors;

function init(){

    var symbol = new Geometry('circle', 10, 1312978855);


var context = {
    getSize: function(feature) {
        return 3 + (Math.sqrt(Math.abs(feature.attributes["value"])) * Math.pow(2,map.getZoom()-1)) / 100;
    },
    getColour: function(feature) {
        if (feature.attributes["value"] > 0) {
            return "#c1e39f";
        } else if (feature.attributes["value"] < 0) {
            return "#ff0000";
        } else {
            return "#0000cc";
        }
    }
};

var template = {
    fillOpacity: 0.8,
    strokeColor: "#555555",
    strokeWidth: 1,
    pointRadius: "${getSize}", // using context.getSize(feature)
    fillColor: "${getColour}"
};

    var style = new OpenLayers.Style(template, {context: context});
    var styleMap = new OpenLayers.StyleMap({'default': style, 'select': {fillColor: '#ff6300'}});

    map = new OpenLayers.Map( 'map', options );

    wms = new OpenLayers.Layer.WMS( "OpenLayers WMS",
                                    "http://labs.metacarta.com/wms/vmap0?",
                                    {layers: 'basic'},
                                    {isBaseLayer: true} );

    vectors = new OpenLayers.Layer.GML( "Population", "{% url tesi.views.prop_geojson %}",
                                        { format: OpenLayers.Format.GeoJSON,
                                          styleMap: styleMap,
                                          isBaseLayer: false,
                                          projection: new OpenLayers.Projection("EPSG:4326"),
                                          attribution: "<a href='{% url tesi.views.index %}'>Stefano Costa</a>" } );

    map.addLayers([wms, vectors]);
    map.setCenter(new OpenLayers.LonLat(11, 44), 7);

    map.addControl(new OpenLayers.Control.LayerSwitcher());
    map.addControl(new OpenLayers.Control.MouseDefaults());
    map.addControl(new OpenLayers.Control.PanZoomBar());

    var options = {
        hover: true,
        onSelect: serialize };

    var select = new OpenLayers.Control.SelectFeature(vectors, options);
    map.addControl(select);
    select.activate();
}

function serialize() {
    var Msg = vectors.selectedFeatures[0].attributes["name"] + ": ";
    if (vectors.selectedFeatures[0].attributes["value"] < 0) {
        Msg    += "dati mancanti"
    } else {
        Msg    += vectors.selectedFeatures[0].attributes["value"];
    }
    document.getElementById("info").innerHTML = Msg;
}
</script>{% endblock %}

{% block body %}<body onload="init()">{% endblock %}
{% block content %}
<p></p>
<div id="info">&nbsp;</div>
<div id="map"></div>
{% endblock %}
