{% extends "base.html" %}

{% block title %}Note - {{ block.super }}{% endblock %}

{% block content %}
<h2>Note</h2>
<h3 id="frammenti-totali">Frammenti totali</h3>
<p>Il numero di frammenti totali di un contesto, dove è presente, si
riferisce generalmente alla quantità di ceramica da mensa coeva alla
sigillata africana che è stata rinvenuta. Questo include le c.d. “imitazioni”
della sigillata, altre ceramiche depurate da mensa, ceramica invetriata.</p>

{% endblock content %}

