{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}sortable/sortable.js">
</script>
{% endblock %}

{% block content %}
<h2>Conteggi</h2>

{% block index %}

<table class="sortable" id="conteggi_sortable">
<tr>
    <th class="unsortable">Riferimento</th>
    <th>MNV</th>
    <th>Frammenti</th>
    <th>Presenza</th>
    <th>Valore</th>
</tr>
{% for sc in sherdcounts %}
<tr class="{% cycle 'odd' 'even' %}" >
    <td>{{ sc }}</td>
    <td>{{ sc.mni|default:"0" }}</td>
    <td>{{ sc.count|default:"0" }}</td>
    <td>{{ sc.presence }}</td>
    <td>{{ sc.value }}</td>
</tr>
{% endfor %}


</table>

{% endblock index %}

{% endblock content %}
