{% extends "base.html" %}

{% block title %}Conteggi - {{ block.super }}{% endblock %}

{% block content %}
<h2>Conteggi</h2>

<p>Totale contesti: <strong>{{ sherdcounts }}</strong></p>
<p>Totale frammenti: <strong>{{ total }}</strong></p>

<h3>Forme</h3>

<table>
<tr>
    <th>Forma</th>
    <th colspan="2">Conteggio</th>
</tr>
{% for t in types|dictsortreversed:"total" %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{% url tesi.views.type_detail_slug t.slug %}">{{ t.name }}</a></td>
        <td>{{ t.total }}</td>
        <td><img src="{{ STATIC_URL }}bar.png" height="10" width="{{ t.total }}" /></td>
    </tr>
{% endfor %}
</table>
{% endblock content %}
