{% extends "site_base.html" %}

{% block title %}{{ site }} - {{ block.super }}{% endblock %}

{% block head %}
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{ STATIC_URL }}jqplot/excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}jqplot/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}jqplot/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jqplot/jquery.jqplot.css" />

<link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.ie.css" /><![endif]-->
{% endblock %}

{% block breadcrumb %}
{{ block.super }} » {{ site }}
{% endblock %}

{% block index %}

{% if site.description %}
<p>{{ site.description|linebreaks }}</p>
{% endif %}

<h3>Informazioni generali</h3>
<div style="float:right; height: 200px; width: 300px"" id="map"></div>
<script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
<script type="text/javascript">
// initialize the map on the "map" div with a given center and zoom 
var map = new L.Map('map', {
    center: new L.LatLng({{ site.point.y}}, {{ site.point.x }}),
    zoom: 6
});

// create a Natural Earth WMS layer
var ne2 = new L.TileLayer.WMS("http://www.catais.org/geoserver/wms?", {
    layers: 'ne2:ne2',
    format: 'image/png',
    transparent: true,
    attribution: "CatAIS Web Map Service"
});

// add the Natural Earth WMS layer to the map
map.addLayer(ne2);

var AltMarker = L.Icon.extend({
    iconUrl: '{{ STATIC_URL }}leaflet/images/marker-alt.png',
    shadowUrl: '{{ STATIC_URL }}leaflet/images/marker-shadow.png',
});

var altIcon = new AltMarker();
var markerLocation = new L.LatLng({{ site.point.y}}, {{ site.point.x }}),
    marker = new L.Marker(markerLocation, {icon: altIcon});

map.addLayer(marker);
</script>
<dl>
<dt>Totale esemplari di ARS sul sito</dt>
    <dd><strong>{{ site.total|default:"non disponibile" }}</strong></dd>
{% if site.final_import_date %}
<dt>Ultima data possibile di importazione ARS</dt>
    <dd><strong>{{ site.final_import_date }} AD</strong></dd>
{% endif %}
</dl>
{% if site.pleiades %}
<p class="pleiades">Pleiades place <a href="http://pleiades.stoa.org/places/{{ site.pleiades }}">{{ site.pleiades }}</a></p>
{% endif %}

<h3>Scavi</h3>
<ul>
{% for context in site.context_set.all %}
{% spaceless %}
<li>
    {% if context.settlement %}{% else %}(S){% endif %}
    {% if context.excavation %}{% else %}(E){% endif %}
    <a href="{% url tesi.views.context_detail context.id %}">{{ context.name }}</a> ({{ context.get_excavation_display }})
    {% if context.assemblage_set.all %}:
    {{ context.total }} esemplar{{ context.total|pluralize:"e,i" }}{% endif %}
</li>
{% endspaceless %}
{% endfor %}
</ul>

{% ifnotequal site.total 0 %}
<h3>Grafico</h3>
<div id="chartdiv" style="height:400px;width:600px; "></div>
<script type="text/javascript">
$(document).ready(function(){
    var plot1 = $.jqplot('chartdiv',[{{ graph_json }}], {
        title: 'Distribuzione cronologica complessiva: {{ site.name }}',
        seriesDefaults: { showMarker:false, color: '#28d08f' },

        axes:{
        // Let the lines start at the edge of the axis.
            xaxis:{
                ticks: [400, 450, 500, 550, 600, 650, 700] },
        },
        grid: {
            background: '#fff',
        }
      });
});
</script>
{% endifnotequal %}

{% if forms %}
<h3>Forme attestate</h3>

<table>
<tr>
    <th>Forma</th>
    <th colspan="2">Conteggio</th>
</tr>
{% for f in forms|dictsortreversed:"count" %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{% url tesi.views.type_detail_slug f.type.slug %}">{{ f.type.name }}</a></td>
        {% ifnotequal f.count "True" %}
        <td class="number-cell">{{ f.count }}</td>
        <td><img src="{{ STATIC_URL }}bar.png" height="10" width="{{ f.count }}" /></td>
        {% else %}
        <td>presente</td>
        <td>*</td>
        {% endifnotequal %}
    </tr>
{% endfor %}
</table>
{% endif %}

{% endblock index %}
