{% extends "site_base.html" %}

{% block title %}Siti - {{ block.super }}{% endblock %}

{% block index %}

<p>Il numero totale di siti inseriti nel database è <strong>{{ number }}</strong>.</p>
<p><strong>{{ missing }}</strong> sit{{ missing|pluralize:"o,i" }} non
contengono alcuna informazione.</p>

<h3>Altre informazioni sui siti</h3>
<ul>
<li>Una <q><a href="{% url tesi.views.site_score %}">classifica</a></q> dei siti in base al numero di
frammenti (dove è anche più semplice isolare i siti inseriti ma privi di
informazioni.</li>
<li>Uno sguardo alla frequenza dei diversi <a href="{% url tesi.views.context_settlements %}">tipi di insediamento</a>.</li>
<li>Controllare quanti siti importano ancora sigillata ad una <a href="{% url tesi.views.site_index_at_date 400 %}">certa data</a>.</li>
</ul>

<h3>Elenco</h3>
<ul>
{% for site in sites %} {# loop through all sites in the database #}
<li>{% if site.point %}{% else %}(*){% endif %}

<a href="{% url tesi.views.site_detail_slug site.slug %}">
<span{% ifequal site.total 'm' %} class="missing"{% endifequal %}>{{ site }}
</span>
</a>


<ul>
{% for context in site.context_set.all %}
    <li class="small"><a href="{% url tesi.views.context_detail context.id %}">{{ context.name }}</a></li>
{% endfor %}
</ul>

{% endfor %}
</ul>
{% endblock index %}
