{% extends "site_index.html" %}

{% block head %}
<script type="text/javascript">
function change_date() {
    szURL = document.URL;
    componentList = szURL.split('/');
    szDocument = componentList.slice(0,-1).join('/');
    document.location.href=szDocument+'/'+document.date_form.date.value;
}
</script>
{% endblock %}

{% block title %}{{ block.super }} - Data finale di importazione{% endblock %}

{% block breadcrumb %}{{ block.super }} » Data finale di importazione{% endblock %}

{% block index %}

<p>Il numero di siti con importazioni di sigillata africana alla data del
<form name="date_form" action="" onsubmit="return false"><input type="text" name="date" maxlength="3" size="3" onClicK="this.value=''" value="{{date}}"></form> è
<strong>{{ number }}</strong>. <a href="javascript:change_date()">Cambia la data</a>
</p>
<p>
</p>

{% if sites %}
<h3>Tipo di insediamento</h3>
<table>
<tr>
    <th>Tipo insediamento</th><th>Numero di siti</th>
</tr>
{% for c in settlement_classes|dictsortreversed:"number" %}
<tr class="{% cycle 'row1' 'row2' %}">
    <td>{{ c.class }}</td>
    <td class="number-cell">{{ c.number }}</td>
</tr>
{% endfor %}
<tr>
    <td><strong>Totale</strong></td>
    <td class="number-cell"><strong>{{ total }}</strong></td>
</tr>
</table>

<h3>Elenco dei siti</h3>
<table>
<tr>
    <th>Sito</th><th>Data iniziale di importazione</th>
    <th>Data finale di importazione</th>
    <th>Tipo di insediamento</th>
</tr>
{% for site in sites|dictsortreversed:"final_import_date" %} {# loop through all sites in the database #}
<tr class="{% cycle 'odd' 'even' %}">
    <td><a href="{% url tesi.views.site_detail_slug site.slug %}">{{ site }}</a></td>
    <td>{{ site.initial_import_date }}</td>
    <td>{{ site.final_import_date }}</td>
    <td>{% for c in site.context_set.all %}{{ c.get_settlement_display }} {% endfor %}</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock index %}
