{% extends "site_index.html" %}

{% block title %}{{ block.super }} - Classifica{% endblock %}

{% block breadcrumb %}{{ block.super }} » Classifica{% endblock %}

{% block index %}

<p>Il numero totale di siti inseriti nel database è <strong>{{ number }}</strong>.</p>
<p><strong>{{ missing }}</strong> sit{{ missing|pluralize:"o,i" }} non contengono alcuna informazione.</p>

<table>
<tr>
    <th>Sito</th><th>Totale frammenti o esemplari</th>
</tr>
{% for site in sites|dictsortreversed:"total" %} {# loop through all sites in the database #}
<tr class="{% cycle 'row1' 'row2' %}">
    <td><a href="{% url tesi.views.site_detail_slug site.slug %}">
        <span{% ifequal site.total 'm' %} class="missing"{% endifequal %}>{{ site }}</span></a></td>
    <td>{{ site.total }}</td>
</tr>
{% endfor %}
</table>
{% endblock index %}
