{% extends "base.html" %}

{% block content %}
<h2>
{% block breadcrumb %}
{% url tesi.views.site_index as index_url %}
{% ifequal request.path index_url %}
Siti
{% else %}
<a href="{% url tesi.views.site_index %}">Siti</a>
{% endifequal %}
{% endblock %}
</h2>

{% block index %}
{% endblock index %}

{% endblock content %}
