{% extends "map.html" %}

{% block title %}{{ type }} - Mappa delle presenze{% endblock %}

{% block content %}
<h2><a href="{% url tesi.views.type_index %}">Forme</a> » <a href="{% url tesi.views.type_detail_slug type.slug %}">{{ type }}</a> » Mappa delle presenze</h2>
<p>I siti in cui è registrata la presenza della forma <strong>{{ type }}</strong>. Scarica il <a href="{% url tesi.views.type_kml_slug type.slug %}">file KML</a>.</p>
{% endblock %}

{% block kml %}{% url tesi.views.type_kml_slug type.slug %}{% endblock %}

