{% extends "type_base.html" %}
{% load cache %}

{% block title %}Forme - {{ block.super }}{% endblock %}

{% block index %}
<ul class=toc>
    <li><a href="#elenco-forme">Elenco delle forme e dei tipi</a></li>
    <li><a href="{% url tesi.views.type_graphs %}#grafico1">Grafico complessivo</a></li>
    <li><a href="{% url tesi.views.type_graphs %}#grafico2">Comparsa e scomparsa delle forme</a></li>
</ul>

<h3 id="elenco-forme">Elenco delle forme e dei tipi</h3>
<table>
<tr>
    <th>Tipo</th>
    <th>Forma</th>
    <th>Datazione</th>
    <th>Numero di siti</th>
    <th colspan="2">Conteggio</th>
</tr>
{% for type in types|dictsort:"end_date" %} {# loop through all types in the database #}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>{% if type.form %}{% else %}(*){% endif %}
	  {% ifequal type.form "x" %}(*){% endifequal %}
	  {% if type.slug %}{% else %}(s){% endif %}
	  <a href="{% url tesi.views.type_detail_slug type.slug %}" title="{{ type }}">{{ type }}</a></td>
	  <td><em>{{ type.form }}</em></td>
        <td>
        {% if type.start_date and type.end_date %}
            {% if type.start_hyp %} {{ type.start_hyp }} /{% endif %}
            {{ type.start_date }} &mdash; {{ type.end_date }}
            {% if type.end_hyp %}/ {{ type.end_hyp }}{% endif %}
        {% else %}
            Manca la datazione
        {% endif %}
        </td>
        <td>{{ type.total_sites }}</td>
        <td>{{ type.total }}</td>
        <td><img src="{{ STATIC_URL }}bar.png" height="10" width="{{ type.total }}" /></td>
    </tr>
{% endfor %}
</table>

{% endblock index %}
