{% extends "type_base.html" %}
{% load cache %}

{% block title %}Forme - {{ block.super }}{% endblock %}

{% block index %}

<p>I grafici successivi sono di interesse principalmente per lo studio della
produzione.</p>

<h3 id="grafico1">Grafico complessivo</h3>

<p>Non c'è nessun errore in questo grafico, si tratta solo di una visualizzazione
particolare per evidenziare la concentrazione nei periodi.</p>

<p id="graph"><img src="{% url tesi.views.forms_graph_image %}" /></p>

<h3 id="grafico2">Comparsa e scomparsa delle forme</h3>

<p>Il grafico mostra le date di comparsa (ascisse) e scomparsa (ordinate) di
tutte le forme di sigillata africana. La dimensione dei marcatori è
proporzionale al numero di attestazioni nella banca dati (il raggio è
proporzionale alla radice quadrata del numero di attestazione in modo che
l'area sia proporzionale al numero di attestazioni).</p>

<p>Un po' di confusione viene creata dalla presenza contemporanea delle forme
con i loro sottotipi (es. Hayes 91). Risolveremo il problema.</p>

<p>Potrebbe essere interessante anche disegnare la “discendenza” delle
forme per individuare possibili punti di rottura.</p>

<p id="scatter"><img src="{% url tesi.views.forms_scatter_image 0 %}" /></p>

<p id="scatter-hard"><img src="{% url tesi.views.forms_scatter_image 1 %}" /></p>

{% endblock index %}
