{% extends "type_base.html" %}

{% block title %}{{ type }} - {{ block.super }}{% endblock %}

{% block breadcrumb %}
{{ block.super }} » {{ type }}
{% endblock %}


{% block index %}
{% if type.form %}
<p><span style="font-style: italic;">{{ type.form }}</span>.</p>
<p><code>type.id = {{ type.id }}</code></p>
{% endif %}


<h3>Cronologia</h3>
{% if type.start_date and type.end_date %}
    <p>Inizio produzione:
    {% if type.start_hyp %} {{ type.start_hyp }}/{% endif %}
    {{ type.start_date }}</p>
    <p>Fine produzione:
    {{ type.end_date }}
    {% if type.end_hyp %}/ {{ type.end_hyp }}{% endif %}
    </p>
{% else %}
    <p>Non definita.</p>
{% endif %}

{% if type.sherdcount_set.all %}
<h3>Attestazioni</h3>
<p>Visualizza la <a href="{% url tesi.views.type_map_page_slug type.slug %}">mappa delle attestazioni</a> di questa forma e dei suoi sottotipi e varianti, oppure scarica il <a href="{% url tesi.views.type_kml_slug type.slug %}">file KML</a>.</p>

<h4>Siti</h4>
<ul>
{% for s in sites %}
    <li><a href="{% url tesi.views.site_detail_slug s.slug %}">{{ s }}</a></li>
{% endfor %}
</ul>

<h4>Contesti</h4>
<ul>
{% for sherdcount in type.sherdcount_set.all %}
    <li>{% firstof sherdcount.count "presente" %} @ {{ sherdcount.assemblage }}, <a href="{% url tesi.views.site_detail_slug sherdcount.assemblage.context.site.slug %}">{{ sherdcount.assemblage.context.site }}</a></li>{% endfor %}
</ul>
{% endif %}

{% if type.type_set.all %}<h4>Sottotipi</h4>{% endif %}
{% for subtype in type.type_set.all %}
    <h4><a href="{% url tesi.views.type_detail_slug subtype.slug %}">{{ subtype.name }}</a></h4>
    <ul>
    {% for sherdcount in subtype.sherdcount_set.all %}
        <li>{% firstof sherdcount.count "presente" %} @ {{ sherdcount.assemblage }}, {{ sherdcount.assemblage.context.site }}</li>
    {% endfor %}
    </ul>
{% endfor %}

{% if type.productions.all %}
<h3>Produzioni</h3>
<ul>

{% for p in productions %}
<li><a href="{% url tesi.views.ware_detail p.id %}">{{ p }}</a></li>
{% endfor %}
</ul>

{% if type.subtype_of %}
    <p>Sottotipo di <strong><a href="{% url tesi.views.type_detail_slug type.subtype_of.slug %}">{{ type.subtype_of.name }}</a></strong></p>
{% endif %}
{% endif %}
{% endblock index %}
