{% extends "base.html" %}

{% block content %}
<h2>
{% block breadcrumb %}
{% url tesi.views.ware_index as index_url %}
{% ifequal request.path index_url %}
Produzioni
{% else %}
<a href="{% url tesi.views.ware_index %}">Produzioni</a>
{% endifequal %}
{% endblock %}
</h2>

{% block index %}
{% endblock index %}

{% endblock content %}
