{% extends "ware_base.html" %}

{% block title %}{{ block.super }} - {{ ware }}{% endblock %}
{% block breadcrumb %}{{ block.super }} » {{ ware }}{% endblock %}

{% block index %}
<h3>Forme</h3>
<ul>
{% for f in ware.type_set.all %}
    <li><a href="{% url tesi.views.type_detail_slug f.slug %}">{{ f }}</a></li>
{% endfor %}
</ul>

<h3>Attestazioni</h3>

<h4>Siti</h4>
<ul>
{% for s in sites %}
    <li><a href="{% url tesi.views.site_detail_slug s.slug %}">{{ s }}</a></li>
{% endfor %}
</ul>

<h4>Contesti</h4>
<ul>
{% for sc in sherdcounts %}
    <li><a href="{% url tesi.views.site_detail_slug sc.assemblage.context.site.slug %}">{{ sc.assemblage.context.site }}</a> {{ sc }}</li>
{% endfor %}
</ul>
{% endblock index %}

