/* lintian.css -- Style sheet for lintian.debian.org pages. */

/*
 # Table of Contents:
 #
 # 1. General styles (links, lists, titles, tables...)
 # 2. Header
 # 3. Navigation
 # 4. Main content
 # 5. Footer
 # 6. Other
 # 7. Steko
 */

/*
 # Order:
 #
 # example {
 #   display
 #   position
 #   width
 #   height
 #   margin
 #   padding
 #   background
 #   color
 #   font
 #   text
 #   line-height
 #   border
 # }
 */


/*
 * 1. General styles
 */

body {
    margin: 0;
    padding-bottom: 40px;
    color: #222;
    background-color: white;
    font-family: sans-serif;
}

/*h1, h2 {*/
/*    font-family: "Junicode", "FreeSerif", "Georgia", serif;*/
/*}*/

h2 {
    /* font-family: serif; */
    margin-bottom: 14px;
    padding-bottom: 6px;
    border-bottom: 2px solid #AAA;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #444;
    font-size: 1.2em;
}

p {
    line-height: 1.4em;
}

a {
    color: #4e9a06;
    text-decoration: none;
}

a:hover {
    background-color: #4e9a06;
    color: #fff;
    text-decoration: none;
}

ul {
    margin: 0;
}

li {
    color: #333;
}

hr {
    display: none;
}


/*
 * 2. Header title
 */

#header {
    margin: 0 0 28px 0;
    padding: 5px 20px;
    background: #c1e39f url('brown.png') no-repeat right;
    border-bottom: 1px solid #152604;
}

#header p {
    float: left;
    margin: 5px 0;
    color: #444;
    font-size: 1.0em;
    font-family: sans-serif;
    font-weight: bold;
}

#header > p > a, #header > p > a:hover {
    color: #444;
    background-color: transparent;
    text-decoration: none;
}


/*
 * 3. Navigation bar
 */

#nav {
    float: right;
    margin: 5px 55px 5px 0;
    padding: 0;
}

#nav li {
    display: inline;
    margin-left: 5px;
}

#nav a {
    padding: 3px 5px;
    color: #333;
    font-size: 0.9em;
    text-decoration: none;
}

#nav a:hover {
    background-color: #FBFBFB;
    border-bottom: 2px solid #73d216;
}


/*
 * 4. Main content
 */

#main {
    margin: 0 25px;
    font-size: 0.9em;
    line-height: 1.4em;
}

/* Front page */

#logo {
    text-align: center;
}

#index h2, #stats h2 {
    margin: 1.4em 0 0.4em 0;
    border: none;
}

#info {
    margin: 25px 0;
    padding: 20px;
    background: #c1e39f no-repeat left;
    border: 1px solid #DFE4E8;
}

#info p {
    margin-left: 130px;
}

#stats table {
    border-collapse: collapse;
}

#stats table tr td {
    padding: 3px 5px;
    background-color: #FDFDFD;
    border: 1px solid #CCC;
}

#stats td span {
    margin: 0 3px 0 0;
    padding: 1px 3px;
    font-family: monospace;
}

/* Maintainer reports */

#summary {
    font-size: 0.9em;
}

#summary p {
    margin-top: 5px;
    font-size: 0.95em;
}

#summary ul {
    padding-left: 20px;
}

ul.report {
    padding-left: 20px;
    padding-bottom: 1em;
}

ul.tag {
    padding-bottom: 1em;
}

ul.report li {
    padding-left: 5px;
    padding-bottom: 6px;
    list-style: none;
}

ul.tag li {
    list-style: square;
}

/*li span {*/
/*    margin: 0 3px 0 0;*/
/*    padding: 1px 3px;*/
/*    font-family: monospace;*/
/*}*/

h1 span {
    padding: 1px 5px;
    font-family: monospace;
    font-size: 0.85em;
    font-weight: normal;
}

ul.extra {
    margin-bottom: 0;
    padding-bottom: 0;
}

ul.report li ul.extra li {
    padding-left: 0;
    padding-bottom: 1px;
    color: #444;
    list-style: square;
}

div.source-header {
    width: 100%;
    margin: 1.4em 0 14px 0;
    padding-bottom: 6px;
    border-bottom: 2px solid #AAA;
}

div.source-header p, div.source-header h2 {
    display: inline;
    border: none;
}

.info-links {
    margin-top: 0;
}

.info-links:before {
    content: "– ";
}

/* Tag type */

h2.tag {
    margin: 5px 0;
    padding: 0;
    color: #444;
    font-family: sans-serif;
    font-size: 1.0em;
    font-weight: normal;
    border: none;
}

h2.tag a {
    font-weight: bold;
}

h2.tag span.type-O {
    margin: 0 3px 0 0;
    padding: 2px 4px;
    color: #555;
    background: #EEE;
    font-family: monospace;
    font-size: 1.1em;
    font-weight: bold;
    border: 1px solid #DDD;
}

/* E/W/I colors */

span.type-I {
    color: #111;
    background-color: #C7EA3C;
}

span.type-W {
    color: #111;
    background-color: #FFEB44;
}

span.type-E {
    color: #111;
    background-color: #FF6700;
}

span.type-X {
    color: #111;
    background-color: #EE99EE;
}

span.type-O {
    color: #111;
    background-color: #DDD;
}

li.type-O {
    color: #444;
}

blockquote {
    padding: 6px 16px;
    background-color: #EEE;
    border: 1px solid #DDD;
}

blockquote.type-I {
    background-color: #DFA;
    border: 1px solid #C7EA3C;
}

blockquote.type-W {
    background-color: #FFD;
    border: 1px solid #FFEB44;
}

blockquote.type-E {
    background-color: #FE9;
    border: 1px solid #FF6700;
}

blockquote.type-X {
    background-color: #FECCFE;
    border: 1px solid #DE66DE;
}


/*
 * 5. Footer
 */

#footer {
    margin: 20px 20px;
    padding: 10px 0 0 0;
    font-size: 0.7em;
    color: #bbb;
    border-top: 1px solid #AAA;
}

#footer p {
    margin: 0;
    padding: 0;
}


/*
 * 6. Other
 */

div.clear {
    clear: both;
}

/*
 * 7. Steko
 */


.sinistra {
    vertical-align: top;
    margin: 1em; float:right;
    border: solid #ddd 1pt;
}

.sinistra_vera {
    vertical-align: top;
    margin: 1em; float:left;
    border: solid #ddd 1pt;
}

.centro {
    margin:auto;
    padding-top: 4em;
    text-align: center;
    font-size: 0.8em;
}

h2 span {
    padding: 1px 5px;
    font-family: monospace;
    font-size: 0.85em;
    font-weight: normal;
}

span.type-G {
    color: #eee;
    background-color: #603deb;
}

/*#map {*/
/*    width: 500px;*/
/*    height: 400px;*/
/*    border: 1px solid black;*/
/*    margin: auto;*/
/*}*/

div.item {
    padding:5px 0;
    border-bottom: 1px solid #999;
}

h2 {
    padding-top: 2em;
}

#info ul {
    margin-left: 130px;
}

.destra_no_bordo {
    vertical-align: top;
    margin: 1em; float:right;
    border: none;
}

#main {
    max-width: 800px;
    margin: auto;
    padding: 5px;
}

/*
 * 8. Side bar
 */

#sidebar {
    float: left;
    margin: 50px 0 0 -200px;
    padding: 5px;
    position: relative;
    top: 10px;
    left: 10px;
}

/*#sidebar li {*/
/*    display: inline;*/
/*    margin-left: 5px;*/
/*}*/

/*#sidebar a {*/
/*    padding: 3px 5px;*/
/*    color: #333;*/
/*    font-size: 0.9em;*/
/*    text-decoration: none;*/
/*}*/

/*#sidebar a:hover {*/
/*    background-color: #FBFBFB;*/
/*    border-bottom: 2px solid #73d216;*/
/*}*/
