@import url("steko.css");
html, body {
    font-family: sans-serif;
}

.small {
    font-size: 0.8em;
}

td, th {
    font-size: 0.9em;
}

tr.row1 td {
    background-color: #eee;
    /* border-bottom: 1px solid #aaa; */
}

tr.row2 td {
    background-color: #fff;
    /* border-bottom: 1px solid #aaa; */
}

tr.odd td {
    background-color: #eee;
    /* border-bottom: 1px solid #aaa; */
}

tr.even td {
    background-color: #fff;
    /* border-bottom: 1px solid #aaa; */
}

#map {
    width: 800px;
}

#graph {
    margin-left:-200px;
}

ul {
    list-style-type: square;
}

ul.toc {
    margin-bottom:3em;
}

td.number-cell {
    text-align: right;
}

.author {
    font-variant: small-caps;
}

.title {
    font-style: italic;
}

.missing {
    color: #cc0000;
}

a:hover .missing {
    background-color: #cc0000;
    color: #fff;
    text-decoration: none;
}

.bibtex {
/*    font-family: monospace;*/
    color: #222;
    background:#E0FFB8;
    border:1px solid #94da3a;
    border-width:1px 0;
    margin: 1em 0;
    padding: .3em .4em;
}

.pleiades {
    background: url('pleiades.png') no-repeat left;
    padding:.28em 0 .28em 1.5em;
}

.fastionline {
    background: url('fastionline.png') no-repeat left;
    padding:.28em 0 .28em 1.5em;
}
